@model MyFacultyWebApplication.Models.Material

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
<<<<<<< HEAD

            @{
                if(ViewBag.AddToSubject)
                {
                        <input type="hidden" value="@ViewBag.SubjectId" name= "SubjectId" />
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="SubjectId" class="control-label"></label>
                        <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectList"></select>
                    </div>
                }
            }
            
            
            <hr/>
=======
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
>>>>>>> 59fc604a407e294acf4cfcaf8766e2accc31f2f6
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    @{
        if (ViewBag.AddToSubject)
        {
            <a asp-controller="Subjects" asp-action="Details" asp-route-id="@ViewBag.SubjectId">Back to Subject</a>
        }
        else
        {
            <a asp-action="Index">Back to List</a>
        }
    }
=======
    <a asp-action="Index">Back to List</a>
>>>>>>> 59fc604a407e294acf4cfcaf8766e2accc31f2f6
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<<<<<<< HEAD
}
=======
}
>>>>>>> 59fc604a407e294acf4cfcaf8766e2accc31f2f6
